body {
  background-color: rgb(159, 213, 223);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(224, 255, 253);
  width: 450px;
  height: 430px;
  margin: 50px;
  padding: 20px;
  /* border: solid black 1px; */
  border-radius: 20px;
}

img {
  margin: 6px;
  border-radius: 10px;
}

img:hover {
  /* box-shadow: 2px 2px 4px; */
  box-shadow: rgba(0, 0, 0, 0.45) 3px 4px 3px;
}

h3 {
  margin: 50px;
}
